<div class="row">
  <ul>
    <li *ngFor="let mixtape of mixtapeList" class="mixtape">
      <h4 class="text-center">{{mixtape.name}}</h4>
      <div><img src="{{mixtape.cover}}" alt="{{mixtape.name}}"></div>
      <div><span>Listen on youtube: </span>{{mixtape.youtube}}</div>
    </li>
  </ul>
</div>
