<div class="mix-header">
  <h1>{{title}}</h1>
  <app-header></app-header>
</div>
<hr>
<nav class="text-center">
  <a routerLink="/home">Home</a>
  <a routerLink="/mixtapes">Mixtapes</a>
  <a routerLink="/about">About</a>
  <a routerLink="/dashboard">Dashboard</a>
</nav>
<hr>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>
