* {
  font-family: 'Open Sans', sans-serif;
}

.mix-header {
  text-align: center;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

nav a {
  padding: 5px 10px;
  margin: 10px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

