<div class="container">
  <h1>Mixtape Form</h1>
  <form [formGroup]='mixtapeForm' (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>

    <div class="form-group">
      <label for="cover">Cover</label>
      <input type="text" class="form-control" id="cover" formControlName="cover">
    </div>

    <div class="form-group">
      <label for="name">Youtube Link</label>
      <input type="text" class="form-control" id="youtube" formControlName="youtube">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

<div *ngFor="let mixtape of mixtapes">
  <app-mixtapes [mixtapeList]="mixtape"></app-mixtapes>
</div>
